@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
/* font-family: "Montserrat", sans-serif; */

.transition-card {
  transition: visibility 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.15s,
    transform 0.3s ease-out 0.1s;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-bg {
  background: #fff none repeat scroll 0 0;
}

.scrollbar-transition {
  transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
}

.translate-x-full-plus-80 {
  transform: translateX(calc(100% + 80px));
}

@media (min-width: 576px) {
  .b-container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .b-container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .b-container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .b-container {
    max-width: 1140px !important;
  }
}
@media (min-width: 1400px) {
  .b-container {
    max-width: 1320px !important;
  }
}
